<%= provide(:title, 'About') %>

<div class="jumbotron text-center">
  <h3>This app created as part of 
    <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">The Odin Project's Associations project</a>.
  </h3>
  <p>
    <a href="https://github.com/feeltrustobey/private-events">Source code on Github</a>
  </p>
</div>
