<footer class="footer">
  <div class="container">
    <p class="text-muted credit">
      <span class="glyphicon glyphicon-copyright-mark"></span>
      <%= Time.now.year %>
      Created by
      <a href="https://github.com/feeltrustobey">feeltrustobey</a>.
      <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">Associations Project</a>. The Odin Project Rails</p>
  </div>
</footer>
